#Configuration File for Sky Anytime Emu

#  Bei Ja Nein Einstellungen ist 
#  0 = Ja
#  1 = Nein

BouquetId=1

#Serien=1

Film=0

#Welt=1


# Kategorien für Filme 

#Abenteuer 
Adventure=0

# Action
Action=0

# Drama und Emotionen
Drama=0

#Familie
Family=0

#Horror
Horror=0

#Komödie
Comedy=0

#Science Fiction und Fantasy
SciFi=0

#Thriller
Thriller=0

#Western
Western=1

